.container{
    margin-top: 50px;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--softTextColor);
}

.info{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.links{
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
}

.logo{
    display: flex;
    gap: 10px;
    align-items: center;
}
.logoText{
    font-size: 16px;
}

.icons{
    margin-top: 10px;
    display: flex;
    gap: 10px;
}
.image{
    border-radius: 50%;
}
.list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 300;
}
.listTitle{
    font-weight: bold;
}

@media screen and (max-width: 1024px){
    .container{
        flex-direction: column;
        align-items: normal;
    }
    .links{
        margin-top: 30px;
        justify-content: space-between;
        margin-right: 0px;
        padding-left: 0px;
    }
    .icons{
        align-self: end;
    }
}
@media screen and (max-width: 385px){
    .desc{
        text-align: center;
    }
}