.title{
    margin: 50px 0px;
}

.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.category{
    display: flex;
    align-items: center;
    text-transform: capitalize;
    height: 50px;
    border-radius: 10px;
    padding: 20px;
    gap: 10px;

}
.category.buffalo{
    background-color: #57c4ff31;
}
.category.cleveland{
    background-color: #da85c731;
}


.category.erie{
    background-color: #ff79;
}

.category.omaha{
    background-color: rgba(164, 250, 211, 0.6);
}

.category.reno{
    background-color: rgba(181, 198, 244, 0.6);
}

.category.sacramento{
    background-color: rgba(252, 197, 200, 0.6);
}

.image{
    border-radius: 50%;
}

@media screen and (max-width: 1280px){
    .category{
        width: 30%;
    }
    
}

@media screen and (max-width: 768px){
    .category{
        width: 40%;
    }
    
}

@media screen and (max-width: 460px){
    .category{
        width: 100%;
    }
    
}